@model SMSDataContract.Common.DailyAssessmentHelper
@using System.Collections.Generic

@{
    ViewBag.Title = "AddChangesAssessmentReport";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="well">
            <div id="stdBasicInfo">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <span class="HeadingStyle">Student Assessment Sheet </span>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group row">
                                <div class="col-md-3 control-label"><label>Acadmic Class</label> </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                        @{Html.RenderPartial("../DropDownLists/DDLClass");}
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <div class="col-md-3"> <b>Student </b> </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                        <div id="dvDDLStudent">
                                           
                                                 @{Html.RenderAction("DDLStudent", "Course", new { @AcadmicClassId = 0 });}
                   
                                            
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>

                            @for (int i = 0; i < Model.ParentAssessments.Count; i++)
                            {
                                <text>

                                    <table  class="col-md-12 table-condensed table-striped table" >
                                        <tr>

                                            <td colspan="5">
                                                @Html.HiddenFor(x => x.ParentAssessments[i].AssessmentTypeId)
                                                @Html.HiddenFor(x => x.ParentAssessments[i].AssessmentName)
                                                @Html.HiddenFor(x => x.ParentAssessments[i].AssessmentTypeId)
                                                <span class="subheader">   @Html.DisplayFor(x => x.ParentAssessments[i].AssessmentName) </span>

                                            </td>
                                        </tr>
                                        @for (int j = 0; j < Model.ChildAssessments.Count; j++)
                                        {
                                        <text>
                                            @if (Model.ChildAssessments[j].AssessmentTypeId == Model.ParentAssessments[i].AssessmentTypeId)
                                                {
                                        <text>

                                            <tr>
                                                <td>
                                                    @Html.HiddenFor(x => x.ChildAssessments[j].AssessmentSubTypeId)
                                                    @Html.HiddenFor(x => x.ChildAssessments[j].AssessmentSubTypeName)
                                                    @Html.HiddenFor(x=>x.ChildAssessments[j].AssessmentTypeId)
                                                    <label for=" SubAssessmentName">   @Html.DisplayFor(x => x.ChildAssessments[j].AssessmentSubTypeName) </label>

                                                </td>


                                                <td>

                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "VeryGood")
                                                    V.Good

                                                </td>
                                                <td>

                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "Good")
                                                    Good
                                                </td>
                                                <td>

                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "Average")
                                                    Average
                                                </td>
                                                <td>

                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "Worse")
                                                    Worse
                                                </td>



                                                <td>
                                                    @if (string.IsNullOrEmpty(Model.ChildAssessments[j].Concequence))
                                                                {  <text>
                                                                    @Html.EditorFor(x => x.ChildAssessments[j].Concequence, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @Id = "txtConcequence" + j } })
                                                                </text>
                                                                }
                                                                else
                                                                {
                                                                <text>
                                                                    @Html.EditorFor(x => x.ChildAssessments[j].Concequence, new { htmlAttributes = new { @class = "form-control", @Id = "txtConcequence" + j } })
                                                                </text>
                                                                }
                                                </td>

                                            </tr>

                                        </text>
                                                }
                                        </text>

                                        }
                                    </table>
                                </text>
                            }

                            <div class="col-md-8 col-md-offset-4">

                                <input type="submit" id="btnAddEit" value="Add" class="btn btn-primary" />

                            </div>
                        </div>
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/bootstrap")
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('input:radio').click(function () {
                                debugger;

                                var getRadiobuttonvalue = $(this).closest('tr').find('input[type=radio]:checked:first').val();

                                if (getRadiobuttonvalue == "Worse") {
                                    $(this).closest('tr').find('input[type="text"]').attr("disabled", false);
                                }
                                else {
                                    $(this).closest('tr').find('input[type="text"]').attr("disabled", true);
                                }


                            });
                            $("#btnAddEit").click(function (e) {
                                debugger;
                                e.preventDefault();
                                var findtable = $.find("table");
                                var gethtml = $("table").closest("tr").find('input[type="text"]').html();
                                alert(findtable);
                                alert(gethtml);

                            });
                            //change event for acadmic class
                            $("#ddlAcadmicClass").change(function () {
                                debugger;
                                
                                var getAcadmicClass = $("#ddlAcadmicClass :selected").val();
                                var model = { AcadmicClassId: getAcadmicClass };
                                if(getAcadmicClass!='')
                                {
                                    Url = "/Course/DDLStudent";

                                    // Fill Student Dropdown
                                    $.get(Url, model)
                                    .done(function (stdhtml) {
                                        debugger;
                                        $("#dvDDLStudent").html(stdhtml);
                                       
                                    })
                                    .fail(function (ex1, ex2) {
                                        alert("Can't get Student DDL");
                                    })
                                }

                            });
                        });
                    </script>
                }
            </div>
        </div>
    </div>
</div>
