@model SMSDataContract.Common.DailyAssessmentHelper
@using System.Collections.Generic

@{
    ViewBag.Title = "AddChangesAssessmentReport";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="well">
            <div id="stdBasicInfo">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            @for (int i = 0; i < Model.ParentAssessments.Count; i++)
                            {
                                <text>

                                    <table>
                                        <tr>

                                            <td>
                                                @Html.HiddenFor(x => x.ParentAssessments[i].AssessmentTypeId)
                                                @Html.DisplayFor(x => x.ParentAssessments[i].AssessmentName)
                                            </td>
                                        </tr>
                                        @for (int j = 0; j < Model.ChildAssessments.Count; j++)
                                        {
                                            <text>
                                                @if (Model.ChildAssessments[j].AssessmentTypeId == Model.ParentAssessments[i].AssessmentTypeId)
                                                {
                                                    <text>

                                                        <tr>
                                                            <td>
                                                                @Html.HiddenFor(x => x.ChildAssessments[j].AssessmentSubTypeId)
                                                                @Html.DisplayFor(x => x.ChildAssessments[j].AssessmentSubTypeName)
                                                             @{  
                                                                 //Model.ChildAssessments[j].evaluation.Add(new SMSDataContract.Common.Evaluation() { VeryGood = false, Good = false, Average = false, Worse = false, WorseConcequence = string.Empty });

                                                                Model.ChildAssessments[j].evaluation = new List<SMSDataContract.Common.Evaluation>();
                                                                 Model.ChildAssessments[j].evaluation.Add(new SMSDataContract.Common.Evaluation());
                                                             }
                                                            </td>
                                                            @foreach (var item in Model.ChildAssessments[j].evaluation)
                                                            {
                                                                <td>

                                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].evaluation[0].VeryGood, item.VeryGood)
                                                                    <label for="@item.VeryGood">@item.VeryGood</label>

                                                                </td>
                                                                <td>
                                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].evaluation[0].Good, item.Good)
                                                                    <label for="@item.Good">@item.Good</label>
                                                                </td>
                                                                 <td>
                                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].evaluation[0].Average, item.Average)
                                                                    <label for="@item.Average">@item.Average</label>
                                                                </td>
                                                                 <td>
                                                                    @Html.RadioButtonFor(x => x.ChildAssessments[j].evaluation[0].Worse, item.Worse)
                                                                    <label for="@item.Worse">@item.Worse</label>
                                                                </td>
                                                            }


                                                        </tr>
                                                    </text>
                                                }
                                            </text>

                                        }
                                    </table>
                                </text>
                            }
                        </div>
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/bootstrap")
                    <script type="text/javascript">
                        $(document).ready(function () {
                        });
                    </script>
                }
            </div>
        </div>
    </div>
</div>
