@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<SMSDataContract.Accounts.AssessmentCategories>

@{
    Layout = "~/Views/Shared/_ReportsLayout.cshtml";
}
<div id="AddEdithtml"></div>
<div id="content">
    <button id="AddNewbtn" class="btn btn-sm btn-success ">
        Add New Assessment Category
    </button>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="well">
                <div class="row">
                    <span class="HeadingStyle">List of Assessment Categories</span>
                    <table id="getTable" class="table table-bordered table-striped table-responsive table-hover">
                        <tr class="action info">
                            @*<th>
                                @Html.DisplayNameFor(model => model.First().AssessmentCategoryId)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.First().AssessmentName)
                            </th>


                            <th style="width:90px;"><b>ACTION</b></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.AssessmentCategoryId)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssessmentName)
                                </td>



                                <td>

                                    <a href="javascript:AddEdit(@item.AssessmentCategoryId)" id="btnEdit" class="btn btn-sm btn-info edit"><i class="glyphicon glyphicon-edit"></i></a>

                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")




    <script type="text/javascript">

        $(document).ready(function () {
            $("#AddNewbtn").click(function () {
                AddEdit(0);

            });
        });
        function AddEdit(id) {
            var URL = "/StudentReport/AddChangesAssessmentCategory";
            var model = { Id: id };
            $.get(URL, model)
            .done(function (gethtml) {
                $("#AddEdithtml").html("");
                $("#AddEdithtml").html(gethtml);
                $('#myModal').modal('show');
                $("#myModel").modal({ "backdrop": "static" });

            })
            .fail(function (e1) { })
        }
    </script>
}
