@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<SMSDataContract.Accounts.DailyAssessmentSubType>

@{
    Layout = "~/Views/Shared/_ReportsLayout.cshtml";
}
<div id="AddEdithtml"></div>
<div id="content">
    <button id="AddNewbtn" class="btn btn-sm btn-success">
        Add New Sub Assessment
    </button>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="well">
                <div class="row">
                    <span class="HeadingStyle">List of Sub Assessments</span>
                    <table id="getTable" class="table table-bordered table-striped table-responsive table-hover">
                        <tr class="action info">

                            <th>
                                @Html.DisplayNameFor(model => model.First().ParentAssementName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().AssessmentSubTypeName)
                            </th>
                            @*<th>
                               Assessment Format
                            </th>*@

                            <th style="width:90px;"><b>ACTION</b></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentAssementName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.AssessmentSubTypeName)
                                </td>
                                @*<td>
                                    @if (item.AssessmentFormat)
                                    {
                                        <text>
                                            Consequence
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            Non-Consequence
                                        </text>
                                    }

                                </td>*@

                                <td>

                                    <a href="javascript:AddEdit(@item.AssessmentSubTypeId)" id="btnEdit" class="btn btn-sm btn-info edit"><i class="glyphicon glyphicon-edit"></i></a>

                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")




    <script type="text/javascript">

        $(document).ready(function () {
            $("#AddNewbtn").click(function () {
                AddEdit(0);

            });
            //$("#ddlAssessment").change(function (e) {
            //    alert("ok");
            //    var getCategoryId = $("#ddlAssessmentCategory option:selected").val();
            //    var getAssessmentTypeId = $("#ddlAssessment option:selected").val();
            //    if (getAssessmentTypeId != '') {

            //        var model = { AssessmentCategoryId: $("#ddlAssessmentCategory option:selected").val(), AssessmentTypeId: $("#ddlAssessment option:selected").val() };
            //        var URL = "/StudentReport/GetAssessmentCriteria";
            //        debugger;
            //        $.get(URL, model)

            //        .done(function (getResponce) {
            //            debugger;
            //            alert(getResponce);
            //        })
            //        .fail(function (e) {

            //            alert("fail to Get Assessment Criteria.");
            //        })
            //    }


            //});
            //Change Event For DDLAssessment. since reload html skip its bind event that's why i place event in ready.
            //$('body').on("change", "#ddlAssessment", function () {
             
            //    var getCategoryId = $("#ddlAssessmentCategory option:selected").val();
            //    var getAssessmentTypeId = $("#ddlAssessment option:selected").val();
            //    if (getAssessmentTypeId != '') {

            //        var model = { AssessmentCategoryId: $("#ddlAssessmentCategory option:selected").val(), AssessmentTypeId: $("#ddlAssessment option:selected").val() };
            //        var URL = "/StudentReport/GetAssessmentCriteria";

            //        $.get(URL, model)

            //        .done(function (getResponce) {

            //            $("#lblAssessment").show();
            //            if ($("#lblAssessment").length == 0) {
            //                $("<div id=lblAssessment  style=color:green;><span> Related Assessment Criteria Is " + getResponce + "</span></div>").insertAfter("#ddAssessmentbycategory");
            //            }
            //            else {
            //                $("#lblAssessment").html("");
            //                $("<div id=lblAssessment  style=color:green;><span> Related Assessment Criteria Is " + getResponce + "</span></div>").insertAfter("#ddAssessmentbycategory");
            //            }

            //        })
            //        .fail(function (e) {

            //            alert("fail to Get Assessment Criteria.");
            //        })
            //    }
            //    else {
            //        $("#lblAssessment").toggle();
            //    }


            //});
        });
        function AddEdit(id) {
           
            var URL = "/StudentReport/AddChangesSubAssessmentType";
            var model = { Id: id };
            $.get(URL, model)
            .done(function (gethtml) {
                
                $("#AddEdithtml").html("");
                $("#AddEdithtml").html(gethtml);
                $('#myModal').modal('show');
                $("#myModel").modal({ "backdrop": "static" });

            })
            .fail(function (e1) { })
        }
    </script>
}




