@model SMSDataContract.Common.DailyAssessmentHelper
@using System.Collections.Generic
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "AddChangesAssessmentReport";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@functions{
    public int GetCurrentLoggedTeacherId()
    {
        var context = new IdentitySample.Models.ApplicationDbContext();
        var userId = User.Identity.GetUserId();
        var CurrentUserDetail = context.Users.Where(user => user.Id == userId).ToList();
        return (int)CurrentUserDetail.SingleOrDefault().TeacherId;
    }
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="well">
            <div id="stdBasicInfo">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <span class="HeadingStyle">Student General Assessment  </span>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group row">
                                <div class="col-md-3 control-label"><label>Acadmic Class</label> </div>
                                <div class="col-md-9">
                                    <div id="dvAcadmicclass" style="text-align: center; margin-top: 10px; margin-left:9%;">
                                        <span id="AcadmicclassMsg" class="error" style="display:none;"></span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                        @{Html.RenderAction("DDLTeacherAssignedClass", "TeacherLog", new { @TeacherId = GetCurrentLoggedTeacherId() });}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3"> <b>Student </b> </div>
                                <div class="col-md-9">
                                    <div id="dvStudent" style="text-align: center; margin-top: 10px; margin-left:9%;">
                                        <span id="StudentMsg" class="error" style="display:none;"></span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                        <div id="dvDDLStudent">
                                            @if (Request.QueryString["StudentId"] != null)
                                            {

                                                Html.RenderAction("DDLStudent", "TeacherLog", new { AcadmicClassId = Request.QueryString["AcadmicClassId"] });

                                            }
                                            else
                                            {

                                                Html.RenderAction("DDLStudent", "TeacherLog", new { AcadmicClassId = 0 });

                                            }


                                        </div>
                                    </div>

                                </div>
                            </div>
                            @if (Model.ParentAssessments.Count > 0)
                            {
                                <text>
                                    @for (int i = 0; i < Model.ParentAssessments.Count; i++)
                                    {
                                        <text>
                                            @*id='table@(i)'*@
                                            <table class="col-md-12 table-condensed table-striped table">
                                                <tr>

                                                    <td colspan="5">
                                                        @Html.HiddenFor(x => x.ParentAssessments[i].AssessmentTypeId)
                                                        @Html.HiddenFor(x => x.ParentAssessments[i].AssessmentName)

                                                        <span class="subheader">   @Html.DisplayFor(x => x.ParentAssessments[i].AssessmentName) </span>

                                                    </td>
                                                </tr>

                                                @for (int j = 0; j < Model.ChildAssessments.Count; j++)
                                                {
                                                    <text>
                                                        @if (Model.ChildAssessments[j].AssessmentTypeId == Model.ParentAssessments[i].AssessmentTypeId)
                                                        {
                                                            <text>

                                                                <tr>
                                                                    <td>
                                                                        @Html.HiddenFor(x => x.ChildAssessments[j].AssessmentSubTypeId)
                                                                        @Html.HiddenFor(x => x.ChildAssessments[j].AssessmentSubTypeName)
                                                                        @Html.HiddenFor(x => x.ChildAssessments[j].AssessmentTypeId)
                                                                        @Html.HiddenFor(x => x.ChildAssessments[j].OperationalId)
                                                                        @Html.HiddenFor(x => x.ChildAssessments[j].CreateDate)
                                                                        @Html.HiddenFor(x => x.ChildAssessments[j].CreatedById)
                                                                        @Html.HiddenFor(x => x.ChildAssessments[j].AssessmentFormat)
                                                                        <label for="SubAssessmentName">   @Html.DisplayFor(x => x.ChildAssessments[j].AssessmentSubTypeName) </label>

                                                                    </td>

                                                                    @if (Model.ChildAssessments[j].AssessmentFormat == false)
                                                                    {
                                                                        <text>
                                                                            <td>

                                                                                @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "2")
                                                                                V.Good

                                                                            </td>
                                                                            <td>

                                                                                @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "1")
                                                                                Good
                                                                            </td>
                                                                            <td>

                                                                                @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "0")
                                                                                Average
                                                                            </td>
                                                                            <td>

                                                                                @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "-2")
                                                                                Worse
                                                                            </td>
                                                                            <td>
                                                                                @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "-0")
                                                                                N/A
                                                                            </td>

                                                                        </text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>

                                                                            @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "Improved")
                                                                            Improved
                                                                        </td>
                                                                        <td>
                                                                            @Html.RadioButtonFor(x => x.ChildAssessments[j].SelectedEvaluation, "NotImproved")
                                                                            Not-Improved
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                         <td></td>
                                                                    }

                                                                    <td>
                                                                        @if (string.IsNullOrEmpty(Model.ChildAssessments[j].Concequence))
                                                                        {  <text>
                                                                            @Html.EditorFor(x => x.ChildAssessments[j].Concequence, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @Id = "txtConcequence" + j } })
                                                                        </text>
                                                                        }
                                                                        else
                                                                        {
                                                                            <text>
                                                                                @Html.EditorFor(x => x.ChildAssessments[j].Concequence, new { htmlAttributes = new { @class = "form-control", @Id = "txtConcequence" + j } })
                                                                            </text>
                                                                        }
                                                                    </td>

                                                                </tr>

                                                            </text>
                                                        }
                                                    </text>

                                                }
                                            </table>

                                        </text>
                                    }
                                    <div class="col-md-12 col-md-offset-8">

                                        @if (Model.ChildAssessments[0].OperationalId == 0)
                                        {  <input type="submit" id="btnAddEit" value="Add" class="btn btn-primary" />  }
                                        else
                                        {
                                            <input type="submit" id="btnAddEit" value="Update" class="btn btn-primary" />
                                        }
                                    </div>
                                </text>
                            }
                        </div>
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/bootstrap")
                    <script type="text/javascript">
                        $(document).ready(function () {
                            // Dropdown Default Values

                            if ('@Request.QueryString["AcadmicClassId"]' != null) {

                                $('#ddlAcadmicClass option[value="@Request.QueryString["AcadmicClassId"]"]').attr("selected", true);

                            }
                            else {
                                $('#ddlAcadmicClass option[value=""]').attr("selected", true);
                            }
                            if ('@Request.QueryString["StudentId"]' != null) {

                                $('#ddlStudent option[value="@Request.QueryString["StudentId"]"]').attr("selected", true);

                            }
                            else {
                                $('#ddlStudent option[value=""]').attr("selected", true);
                            }

                            // Enable-Disable textbox on basis of Selected Radio button.
                            $('input:radio').click(function () {


                                var getRadiobuttonvalue = $(this).closest('tr').find('input[type=radio]:checked:first').val();

                                if (getRadiobuttonvalue == "-2" || getRadiobuttonvalue == "NotImproved") {
                                    $(this).closest('tr').find('input[type="text"]').attr("disabled", false);
                                }
                                else {
                                    $(this).closest('tr').find('input[type="text"]').attr("disabled", true);
                                }


                            });
                            $("#btnAddEit").click(function (e) {

                                e.preventDefault();
                                $("#AcadmicclassMsg").text("");
                                $("#AcadmicclassMsg").hide();
                                $("#StudentMsg").text("");
                                $("#StudentMsg").hide();
                                if ($("#ddlAcadmicClass").val() == '') {
                                    $("#AcadmicclassMsg").text("Please Select Acadmic Class");
                                    $("#AcadmicclassMsg").show();
                                }
                                else if ($("#ddlStudent").val() == '') {
                                    $("#StudentMsg").text("Please Select Student");
                                    $("#StudentMsg").show();
                                }
                                else {

                                    var getALLgroupName = new Array();
                                    var validated = false;
                                    $("table tr td input[type=radio]").each(function (i, value) {    // Get ALL radio button Groups
                                        var groupname = $(this).attr("name");
                                        if (jQuery.inArray(groupname, getALLgroupName) == -1) {
                                            getALLgroupName.push(groupname);
                                        }
                                    });
                                    var getValidationStatus = new Array();
                                    //Iterate ALL Groupe for Validation
                                    for (var i = 0; i < getALLgroupName.length; i++) {
                                        var getGroupValuesStatus = new Array();
                                        var groupname = $("table tr td input[name='" + getALLgroupName[i] + "']");
                                        $("table tr td input[name='" + getALLgroupName[i] + "']").each(function (i, value) {
                                            getGroupValuesStatus.push($(this).is(":checked"));

                                        });
                                        // Show Validation Error and add bool parameter  for postback
                                        if (jQuery.inArray(true, getGroupValuesStatus) == -1) {
                                            $(groupname).closest("tr").css("border", "2px solid red");
                                            getValidationStatus.push(false);
                                        }
                                        else {
                                            getValidationStatus.push(true);
                                        }
                                    }
                                    //After successfully validation submitt form.
                                    if ($.inArray(false, getValidationStatus) == -1) {
                                        $("form").submit();
                                    }
                                }
                            });
                            //change event for acadmic class
                            $("#ddlAcadmicClass").change(function () {

                                var getAcadmicClass = $("#ddlAcadmicClass :selected").val();
                                var model = { AcadmicClassId: getAcadmicClass };
                                if (getAcadmicClass != '') {
                                    $("#AcadmicclassMsg").text("");
                                    $("#AcadmicclassMsg").hide();
                                    Url = "/TeacherLog/DDLStudent";

                                    // Fill Student Dropdown
                                    $.get(Url, model)
                                    .done(function (stdhtml) {

                                        $("#dvDDLStudent").html(stdhtml);

                                    })
                                    .fail(function (ex1, ex2) {
                                        alert("Can't get Student DDL");
                                    })
                                }

                            });


                            $('body').on("change", "#ddlStudent", function () {

                                if ($("#ddlStudent").val() != "") {
                                    $("#StudentMsg").text("");
                                    $("#StudentMsg").hide();
                                }

                            });

                        });
                    </script>
                }
            </div>
        </div>
    </div>
</div>
