@using Microsoft.AspNet.Identity;
@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<SMSDataContract.Accounts.DailyAssessmentSubType>
@{

    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@functions{
    public int GetCurrentLoggedTeacherId()
    {
        var context = new IdentitySample.Models.ApplicationDbContext();
        var userId = User.Identity.GetUserId();
        var CurrentUserDetail = context.Users.Where(user => user.Id == userId).ToList();
        return (int)CurrentUserDetail.SingleOrDefault().TeacherId;
    }
}
<div class="row">
    <div class="col-md-12 col-sm-12">

        @using (Html.BeginForm("GetALLStudentAcadmicAssessment", "TeacherLog", FormMethod.Get))
        {
        <div class="input-group col-md-8">



            <div class="row">
                <div class="col-md-3 col-md-offset-3 control-label"><label>Acadmic Class</label> </div>

                <div id="dvAcadmicclass" style="text-align: center; margin-top: 10px; margin-left:9%;">
                    <span id="AcadmicclassMsg" class="error" style="display:none;"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                    @{Html.RenderAction("DDLTeacherAssignedClass", "TeacherLog", new { @TeacherId = GetCurrentLoggedTeacherId() });}
                </div>
                @Html.ValidationMessageFor(x => x.First().AcadmicClassId)
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-3"> <b>Student </b> </div>

                <div id="dvStudent" style="text-align: center; margin-top: 10px; margin-left:9%;">
                    <span id="StudentMsg" class="error" style="display:none;"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                    <div id="dvDDLStudent">
                        @if (Request.QueryString["StudentId"] != null)
                        {
                            Html.RenderAction("DDLStudent", "TeacherLog", new { AcadmicClassId = Request.QueryString["AcadmicClassId"] });
                        }
                        else
                        {
                            Html.RenderAction("DDLStudent", "TeacherLog", new { AcadmicClassId = 0 });
                        }



                    </div>
                    @Html.ValidationMessageFor(x => x.First().AcadmicClassId)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-3"> <b>Course </b> </div>

                <div id="dvStudent" style="text-align: center; margin-top: 10px; margin-left:9%;">
                    <span id="CourseMsg" class="error" style="display:none;"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                    <div id="dvDDLCourse">
                        @if(Request.QueryString["CourseId"]!=null)
                        {
                            Html.RenderAction("DDLTeacherAssignedCourse", "TeacherLog", new { TeacherId=GetCurrentLoggedTeacherId() ,AcadmicClassId = Request.QueryString["AcadmicClassId"] });
                       
                        }
                        else
                        {
                            Html.RenderAction("DDLTeacherAssignedCourse", "TeacherLog", new {TeacherId=0, AcadmicClassId = 0 });
                        }



                    </div>
                    @Html.ValidationMessageFor(x => x.First().AcadmicClassId)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-md-offset-3">
                        <b>From</b>
                    </div>

                    <div class="col-md-3">
                        <input id="startDate" name="StartDate" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <b>To </b>
                    </div>
                    <div class="col-md-2" style="padding:0px;">

                        <input id="endDate" name="EndDate" class="form-control" />
                    </div>
                </div>
            </div>

            <br />
            <button id="btnSearch" class="btn btn-primary col-md-offset-11 " type="submit">Search</button>
        </div>
        }

        <div style="clear:left"></div>
        <div class="well">
            <div class="row">
                <div class="pull-left">
                    <a href="/TeacherLog/AddChangesAcadmicAssessmentReport?AcadmicClassId=0&StudentId=0&CourseId=0&CreateDate=''" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-user"></i>Add new Assessment</a>
                </div>
            </div>

            <br />
            <div class="row">
                <span class="HeadingStyle">General Assessment Detail</span>
                <table class="table  table-bordered table-striped table-responsive table-hover">
                    <tr class="action info">
                        <th>
                            @Html.DisplayNameFor(model => model.First().AcadmicClassName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().StudentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ParentAssementName)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.First().AssessmentSubTypeName)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.First().SelectedEvaluation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().AssessmentFormat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model=>model.First().AverageConcequence)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Concequence)
                        </th>
                        <th>

                            @Html.DisplayNameFor(model => model.First().CreateDate) 
                          
                        </th>
                        <th style="width:90px;"><b>ACTION</b></th>

                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcadmicClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentAssementName)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.AssessmentSubTypeName)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.SelectedEvaluation)
                        </td>
                        <td>
                            @if (item.AssessmentFormat == true)
                                {
                            <text>
                                Consequence
                            </text>
                                }
                                else
                                {
                            <text>
                               Reward
                            </text>
                                }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.AverageConcequence)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Concequence)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.FormateCreateDate)*@ 
                            @Html.DisplayName(item.CreateDate.ToShortDateString())
                        </td>
                        <td>
                            <a href="/TeacherLog/AddChangesAcadmicAssessmentReport?AcadmicClassId=@item.AcadmicClassId&StudentId=@item.StudentId&CourseId=@item.CourseId&CreateDate=@item.CreateDate" class="btn btn-info" style="padding: 4px 4px;font-size:12px;"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="/TeacherLog/DeleteStudentAcadmicAssessment?AcadmicClassId=@item.AcadmicClassId&StudentId=@item.StudentId&CourseId=@item.CourseId&CreateDate=@item.CreateDate.ToShortDateString()" class="btn btn-danger" style="padding: 4px 4px;font-size:12px;"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>

                    </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/JqueryUicss")

    <script type="text/javascript">
        $(document).ready(function () {
            // Set Query String Parameter
            if ('@Request.QueryString["AcadmicClassId"]' != null) {

                $('#ddlAcadmicClass option[value="@Request.QueryString["AcadmicClassId"]"]').attr("selected", true);

            }
            else {
                $('#ddlAcadmicClass option[value=""]').attr("selected", true);
            }
            if ('@Request.QueryString["StudentId"]' != null) {

                $('#ddlStudent option[value="@Request.QueryString["StudentId"]"]').attr("selected", true);

            }
            else {
                $('#ddlStudent option[value=""]').attr("selected", true);
            }
            if ('@Request.QueryString["CourseId"]' != null) {

                $('#ddlCourse option[value="@Request.QueryString["CourseId"]"]').attr("selected", true);

            }
            else {
                $('#ddlCourse option[value=""]').attr("selected", true);
            }
            if ('@Request.QueryString["StartDate"]' != null) {

                $("#startDate").val('@Request.QueryString["StartDate"]');

            }
            else {
                $("#startDate").val() = "";
            }
            if ('@Request.QueryString["EndDate"]' != null) {

                $("#endDate").val('@Request.QueryString["EndDate"]');

            }
            else {
                $("#endDate").val() = "";
            }
            $('#startDate').datepicker();
            $('#endDate').datepicker();
            //change event for acadmic class
            $("#ddlAcadmicClass").change(function () {

                var getAcadmicClass = $("#ddlAcadmicClass :selected").val();
                var model = { AcadmicClassId: getAcadmicClass };
                if (getAcadmicClass != '') {

                    $(this).removeAttr("style");
                    Url = "/TeacherLog/DDLStudent";

                    // Fill Student Dropdown
                    $.get(Url, model)
                    .done(function (stdhtml) {

                        $("#dvDDLStudent").html(stdhtml);

                    })
                    .fail(function (ex1, ex2) {
                        alert("Can't get Student DDL");
                    });
                    //Fill Course Dropdown

                    Url = null;
                    Url = "/TeacherLog/DDLTeacherAssignedCourse";
                    model = {TeacherId:'@GetCurrentLoggedTeacherId()' ,AcadmicClassId: getAcadmicClass };
                    $.get(Url, model)
               .done(function (siteHtml) {

                   $("#dvDDLCourse").html(siteHtml);
               })
              .fail(function (ex1, ex2, ex3) {
                  alert("Can't get Course DDL");

              });
                }

            });


            $('body').on("change", "#ddlStudent", function () {

                if ($("#ddlStudent").val() != "") {
                    $("#ddlStudent").css("border", "");

                }

            });
            $('body').on("change", "#ddlCourse", function () {

                if ($("#ddlCourse").val() != '') {
                    $("#ddlCourse").css("border", "");

                }

            });
            $("#startDate").change(function () {
                $(this).removeAttr("style");


            });
            $("#endDate").change(function () {
                $(this).removeAttr("style");


            });
            $("#btnSearch").click(function (e) {
                debugger;
                e.preventDefault();
                var startDate = $("#startDate").val();
                var endDate = $("#endDate").val();
                if ($("#ddlAcadmicClass").val() == '') {
                    $("#ddlAcadmicClass").css("border", "1px solid red");

                }
                else if ($("#ddlStudent").val() == '') {

                    $("#ddlStudent").css("border", "1px solid red");
                }
                else if ($("#ddlCourse").val() == '') {
                    $("#ddlCourse").css("border", "1px solid red");
                }
                else if ($("#startDate").val() === '') {

                    $("#startDate").css("border", "1px solid red");

                }
                else if ($("#endDate").val() === '') {

                    $("#endDate").css("border", "1px solid red");
                }
                else if (new Date(startDate) > new Date(endDate)) {
                    alert("Start Date must Less than End Date.");
                }
                
                else {
                    $("form").submit();
                }


            });
        });

    </script>
}





