@using Microsoft.AspNet.Identity;
@model IEnumerable<SMSDataContract.Accounts.TeacherLessonPlan>
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div id="Loading" class="modal-sm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Loading.....</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-bar-striped action">
                    <div class="progress-bar" style="width:100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@functions{
public int GetCurrentLoggedTeacherId() {
    var context = new IdentitySample.Models.ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var CurrentUserDetail = context.Users.Where(user => user.Id == userId).ToList();
    return (int) CurrentUserDetail.SingleOrDefault().TeacherId ;
    }
    }
@using (Html.BeginForm("GetTeacherLessonPlans", "TeacherLog", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-horizontal">
                <hr />
                <input type="hidden" value="@GetCurrentLoggedTeacherId()" name="TeacherId" />
                <div class="form-group">
                    <div class="col-md-3 control-label"><label>Acadmic Class</label> </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                            @if (Request.QueryString["TeacherId"]!=null)
                            {
                                Html.RenderAction("DDLTeacherAssignedClass", "TeacherLog", new { @TeacherId = Request.QueryString["TeacherId"] });
                            }
                            else
                            {
                                Html.RenderAction("DDLTeacherAssignedClass", "TeacherLog", new { @TeacherId = GetCurrentLoggedTeacherId() });
                            }
                        </div>

                    </div>
                </div>
              
                <div class="form-group">
                    <div class="col-md-3 control-label"><label>Course</label> </div>

                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                            <div id="dvDDLCourse">
                                @if(Request.QueryString["CourseId"]!=null)
                                {
                                    Html.RenderAction("DDLTeacherAssignedCourse", "TeacherLog", new {@TeacherId=Request.QueryString["TeacherId"], @AcadmicClassId = Request.QueryString["AcadmicClassId"] });
                                }
                                else
                                {
                                    Html.RenderAction("DDLTeacherAssignedCourse", "TeacherLog", new { @TeacherId = 0, @AcadmicClassId = 0 });
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-offset-6">
                                <input type="submit" value="Search" id="btnSearch" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<a href="~/TeacherLog/AddChangesTeacherLessonPlans?Id=0" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-user"></i>Add Lesson Plan</a>
<table class="table table-bordered table-hover table-striped">
    <tr class="action info">

        <th>@Html.DisplayNameFor(model => model.Lesson)</th>
        <th>@Html.DisplayNameFor(model => model.Topic)</th>

        <th>@Html.DisplayNameFor(model => model.Objective)</th>

        <th> @Html.DisplayNameFor(model => model.TeachingMethodology)</th>
        <th> @Html.DisplayNameFor(model => model.ResourceRequired)</th>
        <th style="width:90px;"><h5>ACTION</h5></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Lesson)</td>
            <td>@Html.DisplayFor(modelItem => item.Topic)</td>
            <td>@Html.DisplayFor(modelItem => item.Objective)</td>
            <td>@Html.DisplayFor(modelItem => item.TeachingMethodology)</td>
            <td>@Html.DisplayFor(modelItem => item.ResourceRequired)</td>
            <td>
                <a href="/TeacherLog/AddChangesTeacherLessonPlans?Id=@item.TeacherLessonPlanId" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
        </tr>

    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        {
            $(document).ready(function () {
                $("#Loading").hide();
                if ('@Request.QueryString["AcadmicClassId"]' != null)
                {
                    $('#ddlAcadmicClass option[value="@Request.QueryString["AcadmicClassId"]"]').attr("selected", true);
                }
                else
                {
                    $('#ddlAcadmicClass option[value=""]').attr("selected", true);
                }
                if ('@Request.QueryString["CourseId"]' != null) {
                    $('#ddlCourse option[value="@Request.QueryString["CourseId"]"]').attr("selected", true);
                }
                else {
                    $('#ddlCourse option[value=""]').attr("selected", true);
                }
                // change event of ddlAcadmicClass
                $("#ddlAcadmicClass").change(function () {

                    var getClass = $("#ddlAcadmicClass :selected").val();
                    if (getClass != '') {
                        $(this).removeAttr("style");
                        $("#Loading").show();
                        LoadCourse();
                        $("#Loading").hide();

                    }
                    else {
                        $("#ddlAcadmicClass").css("border", "1px solid red");
                    }


                });
                //change event of ddlCourse
                $('body').on("change", "#ddlCourse", function () {
                    var getCourse = $("#ddlCourse :selected").val();
                    if (getCourse != '') {
                        $(this).removeAttr("style");
                    }
                    else {
                        $("#ddlCourse").css("border", "1px solid red");
                    }

                });
                
                // Add btn Click Event
                $("#btnSearch").click(function (e) {
                    e.preventDefault();
                    var getClass = $("#ddlAcadmicClass :selected").val();
                    var getCourse = $("#ddlCourse :selected").val();
                    if (getClass == '') {
                        $("#ddlAcadmicClass").css("border", "1px solid red");
                        return false;
                    }
                    else if (getCourse == '') {
                        $("#ddlCourse").css("border", "1px solid red");
                        return false;
                    }
                    else {
                        $("form").submit();
                    }
                });

            });


            function LoadCourse() {

                var ClassId = $("#ddlAcadmicClass :selected").val();
                var Teacherid = '@GetCurrentLoggedTeacherId()';
                var model = {TeacherId:Teacherid, AcadmicClassId: ClassId };
                var Url = null;
                var Url = "/TeacherLog/DDLTeacherAssignedCourse";
                $.get(Url, model)
                        .done(function (siteHtml) {
                            debugger
                            $("#dvDDLCourse").html(siteHtml);
                        })
                    .fail(function (ex1, ex2, ex3) {
                        alert("Can't get Course DDL");
                        $("#loader").hide();
                    });
            }


        }


    </script>
}


