
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SMSDataContract.Accounts.StudentBasicExpenditure>
@{

    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div id="AddEdithtml"></div>
<div id="maincontent">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @using (Html.BeginForm("GetStudentBasicExpenditure", "StudentExpense", FormMethod.Get))
            {
                <div class="input-group col-md-8">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3 control-label"><label>Acadmic Class</label> </div>

                        <div id="dvAcadmicclass" style="text-align: center; margin-top: 10px; margin-left:9%;">
                            <span id="AcadmicclassMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                            @{Html.RenderPartial("../DropDownLists/DDLClass");}
                        </div>
                        @Html.ValidationMessageFor(x => x.First().AcadmicClassId)
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3"> <b>Student </b> </div>

                        <div id="dvStudent" style="text-align: center; margin-top: 10px; margin-left:9%;">
                            <span id="CourseMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                            <div id="dvDDLStudent">

                                @{Html.RenderAction("DDLStudent", "Course", new { @AcadmicClassId = 0 });}



                            </div>
                            @Html.ValidationMessageFor(x => x.First().StudentId)
                        </div>
                    </div>
                    <br />
                  <button id="btnSearch" class="btn btn-primary col-md-offset-11 " type="submit">Search</button>
                </div>
            }
            <div style="clear:left"></div>
            <div class="well">
                <div class="row">
                        <a id="btnAddEdit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-user"></i>Add Basic Expense</a>
                        <span style="margin-left:15px;">  <button id="btnExportFile" class="btn btn-primary" type="submit">Export </button></span>
                   

                </div>

                <br />
                <div class="row">
                    <span class="HeadingStyle">List of Basic Expense</span>
                    <table class="table  table-bordered table-striped table-responsive table-hover">
                        <tr class="action info">
                            <th>
                                @Html.DisplayNameFor(model => model.First().StudentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().ClassName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().AdmissionFee)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().SecurityFee)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().ExaminationFee)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().RegistrationFee)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().CreateDate)
                            </th>

                            <th style="width:90px;"><b>ACTION</b></th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClassName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdmissionFee)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SecurityFee)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExaminationFee)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegistrationFee)
                                </td>
                                <td>
                                  
                                    @Html.DisplayName(item.CreateDate.ToShortDateString())
                                </td>


                                <td>
                                    <a id="btnUpdate" class="btn btn-sm btn-info" href="javascript:AddEdit(@item.FeeId)"><i class="glyphicon glyphicon-edit"></i></a>

                                </td>

                            </tr>
                        }

                    </table>
                    <div class="col-md-10 col-md-offset-4">
                        @Html.PagedListPager(Model, page => Url.Action("GetStudentBasicExpenditure", new { page, StudentId = Request.QueryString["StudentId"], AcadmicClassId = Request.QueryString["AcadmicClassId"] }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/JqueryUicss")

    <script type="text/javascript">
        $(document).ready(function () {
            if ('@Request.QueryString["AcadmicClassId"]' != null) {

                $('#ddlAcadmicClass option[value="@Request.QueryString["AcadmicClassId"]"]').attr("selected", true);

            }
            else {
                $('#ddlAcadmicClass option[value=""]').attr("selected", true);
            }
            if ('@Request.QueryString["StudentId"]' != null) {

                $('#ddlStudent option[value="@Request.QueryString["StudentId"]"]').attr("selected", true);

            }
            else {
                $('#ddlStudent option[value=""]').attr("selected", true);
            }
            //change event for acadmic class
            $("#ddlAcadmicClass").change(function () {
                var getAcadmicClass = $("#ddlAcadmicClass :selected").val();
                var model = { AcadmicClassId: getAcadmicClass };
                if (getAcadmicClass != '') {
                    Url = "/Course/DDLStudent";
                    // Fill Student Dropdown
                    $.get(Url, model)
                    .done(function (stdhtml) {

                        $("#dvDDLStudent").html(stdhtml);

                    })
                    .fail(function (ex1, ex2) {
                        alert("Can't get Student DDL");
                    });
                    
                }

            });


            $("#btnAddEdit").click(function () {
                AddEdit(0);
            });
            $("#btnExportFile").click(function () {
                debugger;
                GetReport();

            });
            //submit export file form
            $("#btnSearch").click(function (e) {
                debugger;
                e.preventDefault();
                var startDate = $('input[name="startDate"]').val();
                var endDate = $('input[name="endDate"]').val();
                var acadmicClassId = $("#ddlAcadmicClass").val();
                if (startDate != "" && endDate != "" && acadmicClassId != "") {
                    debugger;
                    $("form").submit();
                }
            });
        });

        function AddEdit(id) {
            debugger;
            var URL = "/StudentExpense/StudentBasicExpenseAddChanges";
            var model = { Id: id };
            $.get(URL, model)
            .done(function (gethtml) {
                $("#AddEdithtml").html("");
                $("#AddEdithtml").html(gethtml);
                $('#myModal').modal('show');
                $("#myModel").modal({ "backdrop": "static" });

            })
            .fail(function (e1) { })
        }
        function GetReport() {
            var URL = "/StudentExpense/GetStudentBasicExpenditureReport";
            $.get(URL)
            .done(function (gethtml) {
                debugger;
                $("#AddEdithtml").html("");
                $("#AddEdithtml").html(gethtml);
                $('#myModal').modal('show');
                $("#myModel").modal({ "backdrop": "static" });
            })
            .error(function () { })
        }


    </script>
}




