@model SMSDataContract.Accounts.StudentBasicExpenditure

@{

    Layout = null;
}


@using (Html.BeginForm("StudentBasicExpenseAddChanges", "StudentExpense", FormMethod.Post, new { enctype = "multipart/form-data", id = "basicExpenseForm" }))
{  @Html.AntiForgeryToken()
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="col-md-12 col-sm-12">
                        <div class="row well">
                            <div class="form-horizontal">
                                @if (Model.FeeId == 0)
                                {
                                    <span class="HeadingStyle">Add/Edit Basic Expense </span>

                                }
                                else
                                {
                                    @Html.HiddenFor(x => x.FeeId)
                                    @Html.HiddenFor(x=>x.CreateDate)
                                    @Html.HiddenFor(x=>x.CreateById)
                                    <span class="HeadingStyle">Update Basic Expense</span>
                                }
                                <hr />
                              
                                  

                                    <div class="form-horizontal">

                                        @Html.ValidationSummary(true)
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.AcadmicClassId, new { @class = "control-label col-md-3" })
                                            <div id="dvAcadmicDetial" style="text-align: center; margin-top: -25px; margin-left:67%;">
                                                <span id="AcadmicclassMsg" class="error" style="display:none;"></span>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                                    @{Html.RenderPartial("../DropDownLists/DDLClass");}
                                                    @Html.ValidationMessageFor(x => x.AcadmicClassId)
                                                </div>
                                            </div>
                                        </div>
                                        <div id="dvStudent" style="text-align: center; margin-top: 10px; margin-left:29%;">
                                            <span id="StudentMsg" class="error" style="display:none;"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3 control-label"><label>Student</label> </div>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                                    <div id="dvDDLStudent">
                                                        @{
                                    if (Model.FeeId == 0)
                                    { <text>
                                        @{Html.RenderAction("DDLStudent", "Course", new { @AcadmicClassId = 0 });}
                                    </text>
                                    }
                                    else
                                    {
                                        <text>
                                            @{Html.RenderAction("DDLStudent", "Course", new { @AcadmicClassId = Model.AcadmicClassId });}
                                        </text>
                                    }
                                                        }
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>



                                        <div class="form-group">

                                            @Html.LabelFor(model => model.AdmissionFee, new { @class = "control-label col-md-3" })
                                            <div id="dvCourse" style="text-align: center; margin-top: -25px; margin-left:67%;">
                                                <span id="AdmissionFeeMsg" class="error" style="display:none;"></span>
                                            </div>
                                            <div class="col-md-7">

                                                @Html.EditorFor(model => model.AdmissionFee, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AdmissionFee)
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.AdmissionFee, new { @class = "control-label col-md-3" })
                                            <div id="dvCourse" style="text-align: center; margin-top: -25px; margin-left:67%;">
                                                <span id="SecurityFeeMsg" class="error" style="display:none;"></span>
                                            </div>
                                            <div class="col-md-7">

                                                @Html.EditorFor(model => model.SecurityFee, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SecurityFee)
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.ExaminationFee, new { @class = "control-label col-md-3" })
                                            <div id="dvCourse" style="text-align: center; margin-top: -25px; margin-left:67%;">
                                                <span id="SecurityFeeMsg" class="error" style="display:none;"></span>
                                            </div>
                                            <div class="col-md-7">

                                                @Html.EditorFor(model => model.ExaminationFee, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ExaminationFee)
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.RegistrationFee, new { @class = "control-label col-md-3" })
                                            <div id="dvCourse" style="text-align: center; margin-top: -25px; margin-left:67%;">
                                                <span id="SecurityFeeMsg" class="error" style="display:none;"></span>
                                            </div>
                                            <div class="col-md-7">

                                                @Html.EditorFor(model => model.RegistrationFee, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RegistrationFee)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <span class="col-md-3 col-md-offset-7">

                                                    <button id="btnAddEdit" type="submit" class="btn btn-primary btn-success pull-right">
                                                        @if (Model.FeeId == 0)
                                                        { <text>
                                                            Save
                                                        </text>
                                                        }
                                                        else
                                                        {
                                                            <text>

                                                                Update
                                                            </text>
                                                        }
                                                    </button>

                                                </span>


                                                <button type="submit" id="btnClosemodel" class="btn btn-primary">Close</button>
                                            </div>
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    if ('@Model.FeeId' > 0)
    {
        if ('@Model.StudentId' > 0) {

            $('#ddlStudent option[value="@Model.StudentId"]').attr("selected", true);

        }
        else {
            $('#ddlStudent option[value=""]').attr("selected", true);
        }
    }
    $("#btnClosemodel").click(function (e) {
        $('#myModal').modal('hide');
        // $('#modal').modal('toggle');
        $("#AddEdithtml").empty();
        $("div").removeClass("modal-backdrop fade in");
        e.preventDefault();

    });
    $("#btnAddEdit").click(function (e) {
         e.preventDefault();
         var AcadmicClass = $("#ddlAcadmicClass").val();
         var StudentId = $("#ddlStudent").val();
         var AdmissionFee = $("#AdmissionFee").val();
         var SecurityFee = $("#SecurityFee").val();
         var ExaminationFee = $("#ExaminationFee").val();
         var RegistrationFee = $("#RegistrationFee").val();
         if(AcadmicClass!=''&&StudentId!=''&& AdmissionFee!=''&&SecurityFee!=''&&ExaminationFee!=''&&RegistrationFee!='')
         {
             $("#basicExpenseForm").submit();
         }
    });
    // change event of ddlAcadmicClass
    $("#ddlAcadmicClass").change(function () {
        var getClass = $("#ddlAcadmicClass :selected").val();
        if (getClass != '') {

            LoadDDLStudent();
            $("#AcadmicclassMsg").hide();

            $("#StudentMsg").hide();
        }
        else {
            $("#AcadmicclassMsg").show();
            $("#AcadmicclassMsg").text("Please Select Class");
        }


    });
    //change event of ddlStudent
    $('body').on("change", "#ddlStudent", function () {

        var getStudent = $("#ddlStudent :selected").val();
        if (getStudent != '') {
            $("#AcadmicclassMsg").hide();

            $("#StudentMsg").hide();
        }
        else {
            $("#StudentMsg").show();
            $("#StudentMsg").text("Please Select Student");
        }
    });
    function LoadDDLStudent() {
      
        var ClassId=$("#ddlAcadmicClass :selected").val();
        var model = { AcadmicClassId: ClassId };
        var Url = null;
        var Url = "/Course/DDLStudent";
        // Fill Student Dropdown
         $.get(Url, model)
         .done(function (stdhtml) {
           $("#dvDDLStudent").html(stdhtml);
           if ('@Model.StudentId' > 0)
             {
             $('#ddlStudent option[value="@Model.StudentId"]').attr("selected", true);
            }
           else {$('#ddlStudent option[value=""]').attr("selected", true);}
             })
            .fail(function (ex1, ex2) {
              alert("Can't get Student DDL");
                    })


    }



</script>
