@model SMSDataContract.Accounts.AdmissionGranted

@{
    ViewBag.Title = "AdmissionGranted";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <ol class="breadcrumb">
                <li><a href="/Student/AddChangesStudent?id=@Model.StudentId">Student</a></li>
                <li><a href="/Student/AddChangesStudentAddress?studentId=@Model.StudentId">Student Address</a></li>
                <li><a href="/Student/AddChangesGuardianDetail?studentId=@Model.StudentId">Guardian Details</a></li>
                <li><a href="/Student/AddChangesGuardianContacts?studentId=@Model.StudentId&guardianId=@Model.GuardianId">Guardian Contacts</a></li>
                <li><a href="/Student/AddChangesPreviousAcadmicRecord?StudentId=@Model.StudentId&GuardianId=@Model.GuardianId">Previous Acadmic Record</a></li>
                <li class="active">Admission Granted</li>
            </ol>
            <div class="row well">
                <div class="form-horizontal">

                    @Html.HiddenFor(model => model.StudentId)
                    @Html.HiddenFor(model => model.GuardianId)
                    @if (Model.AdmissionId == 0)
                    {
                        <span class="HeadingStyle"> Add Admission Granted</span>

                    }
                    else
                    {
                        <span class="HeadingStyle">Update Admission Granted</span>
                    }
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.AssessmentResult, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
                                @Html.EditorFor(model => model.AssessmentResult, new { htmlAttributes = new { @class = "form-control", id = "AssessmentResult", placeholder = "Assessment Result" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.AssessmentResult, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.IsGranted, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-offset-1 col-md-7">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsGranted)
                                @Html.ValidationMessageFor(model => model.IsGranted, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="dvAcadmicClass" style="text-align: center; margin-top: 10px; margin-left:60%;">
                        <span id="AcadmicClassMsg" class="error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-1 control-label"><label> Acadmic Class</label> </div>

                        <div class="col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                @{Html.RenderPartial("../DropDownLists/DDLClass");}
                            </div>
                            @Html.ValidationMessageFor(model => model.AdmissionGrantedForClass, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div id="dvrollNo" style="text-align: center; margin-top: 10px; margin-left:60%;">
                        <span id="rollNoMsg" class="error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-1 control-label"><label>Roll Number</label></div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                @if (ViewBag.RollNumber!=null)
                                {<text> <input type="text" id="GrantedRollNo" name="RollNumber" value="@ViewBag.RollNumber" placeholder="Roll Number" class="form-control" />
                                </text>
                                }
                                else
                                {
                                 <text>
                                
                                <input type="text" id="GrantedRollNo" name="RollNumber" placeholder="Roll Number" class="form-control" />
                                </text>
                                       
                                }
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AdmissionGrantedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                @Html.EditorFor(model => model.AdmissionGrantedDate, new { htmlAttributes = new { @class = "form-control", type = "datetime", id = "AdmissionGrantedDate", placeholder = "2/27/2016 11:39:57 PM" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.AdmissionGrantedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-leaf"></i></span>
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", id = "Remarks", placeholder = "Remarks" })
                            </div>

                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-9">
                                @if (Model.AdmissionId == 0)
                                {
                                    <input type="submit" id="SaveAdmissionGranted" value="ADD" style="background-color:#fab625;color:white;" class="btn pull-right" />

                                }
                                else
                                {
                                    <input type="submit" id="UpdateAdmissionGranted" value="UPDATE" style="background-color:#fab625; color:white;" class="btn pull-right" />

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#AdmissionGrantedDate').datetimepicker();
            });
            if ('@Model.AdmissionId' > 0) {
                $('#ddlAcadmicClass option[value="@Model.AdmissionGrantedForClass"]').attr("selected", true);
            }
            else
            {
                $('#ddlAcadmicClass option[value=""]').attr("selected", true);
            }
            $("#SaveAdmissionGranted").click(function (e) {
               
                var enteredRollNumber = $("#GrantedRollNo").val();
                if ($('#ddlAcadmicClass').val() == '') {

                    $("#AcadmicClassMsg").show();
                    $("#AcadmicClassMsg").text("Select Acadmic Class");
                    e.preventDefault();
                    return;
                }
                if ( enteredRollNumber =='') {
                   
                    $("#rollNoMsg").show();
                    $("#rollNoMsg").text("Please Enter Roll Number");
                   
                    return;
                }
                
            });
            $("#UpdateAdmissionGranted").click(function (e) {
                debugger;
                var enteredRollNumber = $("#GrantedRollNo").val();
                var selectedClass = $('#ddlAcadmicClass').val();
                if ($('#ddlAcadmicClass').val() == '') {

                    $("#AcadmicClassMsg").show();
                    $("#AcadmicClassMsg").text("Select Acadmic Class");
                    e.preventDefault();
                    return;
                }
                if ( enteredRollNumber == '') {
                  
                    $("#rollNoMsg").show();
                    $("#rollNoMsg").text("Please Enter Roll Number");
                    e.preventDefault();
                    return;
                }
              
            });
            $("#ddlAcadmicClass").change(function () {
                var selectedClass = $("#ddlAcadmicClass").val();
                if(selectedClass!='')
                {
                    $("#AcadmicClassMsg").hide();
                }

            });
            $("#GrantedRollNo").change(function () {
                debugger;
                var enterRollNumber = $("#GrantedRollNo").val();
                if ( enterRollNumber != "undefined")
                {
                    $("#rollNoMsg").hide();
                }


            });
        });
        
    </script>
}