@model SMSDataContract.Accounts.AssignRoom
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="well">
                @Html.AntiForgeryToken()

                <div class="row well">
                    @if (Model.RAssignId == 0)
                    {
                        <span class="HeadingStyle">New Room Assign </span>
                    }
                    else
                    {
                        <span class="HeadingStyle">Update Room Assign </span>
                        @Html.HiddenFor(model => model.RAssignId)
                        @Html.HiddenFor(model => model.CreatedById)
                        @Html.HiddenFor(model => model.CreatedDate)
                    }
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)
                        <div id="dvRoom" style="text-align: center; margin-top: 10px; margin-left:29%;">
                            <span id="RoomMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 control-label"><label>Room</label> </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                    @{Html.RenderPartial("../DropDownLists/DDLRoom");}
                                </div>
                                @Html.ValidationMessageFor(model => model.RoomId)
                            </div>
                        </div>
                        <div id="dvAcadmicclass" style="text-align: center; margin-top: 10px; margin-left:29%;">
                            <span id="AcadmicclassMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 control-label"><label>Acadmic Class</label> </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                    @{Html.RenderPartial("../DropDownLists/DDLClass");}
                                </div>
                                @Html.ValidationMessageFor(model => model.AcadmicClassId)
                            </div>
                        </div>
                        <div id="dvCourse" style="text-align: center; margin-top: 10px; margin-left:29%;">
                            <span id="CourseMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 control-label"><label>Course</label> </div>

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>

                                    <div id="dvDDLCourse">
                                        @{
                                            if (Model.CourseId == 0)
                                            {    <text>
                                            @{Html.RenderAction("DDLCourse", "Course", new { @AcadmicClassId = 0 });}
                                            </text>
                                                }
                                                else
                                                {
                                                    <text>
                                                        @{Html.RenderAction("DDLCourse", "Course", new { @AcadmicClassId = Model.AcadmicClassId });}
                                                    </text>
                                                            }
                                        }
                                    </div>
                                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div id="dvCourse" style="text-align: center; margin-top: 10px; margin-left:29%;">
                            <span id="CourseMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 control-label"><label>Week Day</label> </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                    <div id="dvDDLCourse">
                                        @Html.DropDownList("WeekDayId", new List<SelectListItem>()
                                        {
                                            new SelectListItem(){ Text= "Monday", Value = "1"},
                                            new SelectListItem(){ Text= "Tuesday", Value = "2"},
                                            new SelectListItem(){ Text= "Wednesday", Value = "3"},
                                            new SelectListItem(){ Text= "Thursday", Value = "4"},
                                            new SelectListItem(){ Text= "Friday", Value = "5"},
                                            new SelectListItem(){ Text= "Saturday", Value = "6"},
                                            new SelectListItem(){ Text= "Sunday", Value = "7"},

                                        }, "Select Week Day", new { id = "ddlWeek", @class = "form-control" })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.WeekDayId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="dvStarttime" style="text-align: center; margin-top: 10px; margin-left:34%;">
                            <span id="StarttimeMsg" class="error" style="display:none;"></span>
                        </div>

                        <div class="form-group">
                            @Html.Label("Check Available", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                <div class="input-group">
                                    @Html.CheckBoxFor(model => model.IsAvailable, new {@id ="IsAvailable" })
                                </div>
                                @Html.ValidationMessageFor(model => model.IsAvailable, "", new { @class = "text-danger" })
                            </div>
                            <div style="text-align: center;float:left; margin-top: -15px; margin-left:30%;">
                                <span id="RoomAvailableMsg" class="successmsg" style="display:none;"></span>
                                <span id="RoomNotAvailableMsg" class="error" style="display:none;"></span>
                                <span id="fillAllFields" class="error" style="display:none;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        @if (Model.RAssignId == 0)
                                        {
                                        <input type="submit" value="Add" id="AddAssignRoom" style="background-color:#fab625;color:white;" class="btn pull-right" />

                                        }
                                        else
                                        {
                                        <input type="submit" value="Update" id="UpdateAssignRoom" style="background-color:#fab625; color:white;" class="btn pull-right" />

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                            }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        {

            $(document).ready(function () {

                $("#fillAllFields").hide();
                var timeFormat = " HH:mm";

                $('#StartTime').datetimepicker({
                    format: timeFormat
                });
                $('#EndTime').datetimepicker({
                    format: timeFormat
                })
                $("#IsAvailable").change(function (e) {

                    var AssignRoom = $("#ddlRoom").val();
                    var AcadmicClass = $("#ddlAcadmicClass").val();
                    var weekDay = $("#ddlWeek").val();
                    var getCurrentDate = new Date().toLocaleDateString();
                    var StartTime = $("#StartTime").val();
                    var EndTime = $("#EndTime").val();
                    var getValues = new Array();
                    $("#StarttimeMsg").text("");
                    $("#StarttimeMsg").hide();

                    //convert both time into timestamp
                    var stt = new Date("'" + getCurrentDate + "'" + StartTime);
                    stt = stt.getTime();

                    var endt = new Date("'" + getCurrentDate + "'" + EndTime);
                    endt = endt.getTime();
                    if (endt < stt) {
                        $("#StarttimeMsg").text("Start Time Must be Lesser than End Time");
                        $("#StarttimeMsg").show();
                        e.preventDefault();
                        return false;
                    }
                    // After Check Time Contstraint insert values into Array
                    if (AssignRoom == "" || AcadmicClass == "" || weekDay == "" || StartTime == "" || EndTime == "") {
                        $("#fillAllFields").text("Please fill all the fields");
                        $("#fillAllFields").show();
                        $("#IsAvailable").prop('checked', false);
                    }
                    else {
                        getValues.push(AssignRoom, AcadmicClass, weekDay, StartTime, EndTime);
                        // Go To Action

                        var URL = "/Room/CheckRoomAvailabilty";
                        $.get(URL, $.param({ CheckAttributes: getValues }, true), function (resp) {


                            // var a =  JSON.stringify(resp);
                            if (resp == "false") {
                                //$("#RoomAvailableCehck").hide();
                                $("#IsAvailable").prop('checked', false);
                                $("#RoomNotAvailableMsg").text("Room is not available");
                                $("#RoomNotAvailableMsg").show();
                                $("#RoomAvailableMsg").hide();
                                $('input[type="submit"]').prop('disabled', true);
                            }
                            else {
                                $("#RoomAvailableMsg").text("Room is available");
                                $("#RoomAvailableMsg").show();
                                $("#RoomNotAvailableMsg").hide();
                                $('input[type="submit"]').prop('disabled', false);
                            }
                        });
                    }
                });

            });

        }

    </script>
}
