@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<SMSDataContract.Accounts.Room>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<button id="AddNewbtn" class="btn btn-sm btn-success " data-toggle="modal" data-target="#myModal">
    Add New Room
</button>
@{Html.RenderAction("AddChangesRoom", "Room", new { @Id = 0 });}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="well">
            <div class="row">
                <span class="HeadingStyle">List of Rooms</span>
                <table  id="getTable" class="table table-bordered table-striped table-responsive table-hover">
                    <tr class="action info">
                        <th>
                            @Html.DisplayNameFor(model => model.First().RoomId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().RoomName)
                        </th>
                       

                        <th style="width:90px;"><b>ACTION</b></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomName)
                            </td>
                           

                    
                            <td>
                                @*<a href="#" id="btnEdit" class="btn btn-sm btn-info edit" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-edit"></i></a>*@
                                <a href="#" id="btnEdit" class="btn btn-sm btn-info edit"><i class="glyphicon glyphicon-edit"></i></a>
                                 @*@{Html.RenderAction("AddChangesRoom", "Room", new { @Id = item.RoomId });}*@ 
                            </td>
                        </tr>
                    }

                </table>
               
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   

    <script type="text/javascript">
       
        $(document).ready(function () {
            $("#btnEdit").click(function () {
                debugger;
              
                var myModal = $('#myModal');
                // now get the values from the table
                var roomId = $("#getTable tr").eq(1).find('td:first').text();
                var roomName = $("#getTable tr").eq(1).find('td:nth-child(2)').text();
                // and set them in the modal:
                //$('#RoomId', myModal).val(RoomId);
                $('#RoomName', myModal).val(roomName);
               

                // and finally show the modal
                myModal.modal({ show: true });

                return false;
            });
        });

    </script>
}
