@model SMSDataContract.Accounts.TeacherProfile

@{
    ViewBag.Title = "TeacherProfile";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#TeacherProfile')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    function DefaultImag() {
        document.getElementById('TeacherProfile').src = '/Images/Profile.png'
    }
</script>

@using (Html.BeginForm("AddChangesTeacherProfile", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <ol class="breadcrumb">
                <li><a href="/Teacher/AddChangesTeacher?Id=@Model.TeacherId">Teacher</a></li>
                <li><a href="/Teacher/AddChangesAddress?Id=@Model.TeacherId">Teacher Address</a></li>
                <li><a href="/Teacher/AddChangesTeacherContacts?Id=@Model.TeacherId">Teacher Contact</a></li>
                <li class="active">Teacher Profile</li>
            </ol>
            <div class="row well">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <span class="HeadingStyle">Teacher Profile</span>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TeacherId)
                    @Html.HiddenFor(model => model.TProfileId)

                    <div class="row form-group">

                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="center-block">
                                    <img id="TeacherProfile" class="img-responsive img-rounded" style="width:250px; height:250px;" src="#" alt="Alenate" onerror="DefaultImag()" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12 ">
                                <input type="file" id="ulTeacherImage" name="ulTeacherImage" style="width:220px;" onchange="readURL(this);" accept="image/*" class="upload btn btn-info center-block" />
                                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                                @*<input type="file" id="VideoUploadFile">*@
                                <p class="help-block"></p>
                            </div>
                        </div>
                        @*@if ('Model.TProfileId'>0)
                       {
                            <text>
                                <img src="@Url.Content(Model.ImagePath)" alt="@Url.Content(Model.ImagePath)" />
       
                            </text>
                       }*@
                    </div>

                    <div class="form-group">
                        <center class="col-md-12">
                            <input type="submit" value="Save" class="btn btn-success btnlogin" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



