@model SMSDataContract.Accounts.TeacherContact

@{
    ViewBag.Title = "TeacherContacts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <ol class="breadcrumb">
                <li><a href="/Teacher/Teacher?Id=@Model.TeacherId">Teacher</a></li>
                <li><a href="/Teacher/TeacherAddress?Id=@Model.TeacherId">Teacher Address</a></li>
                <li class="active">Teacher Contacts</li>
            </ol>
            <div class="row well">
                @if (Model.TeacherContactId == 0)
                {
                    <span class="HeadingStyle">Teacher Contacts</span>

                }
                else
                {
                    <span class="HeadingStyle">Update Teacher Contacts</span>
                }
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TeacherContactId)
                    @Html.HiddenFor(model => model.TeacherId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactFrist, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                @Html.EditorFor(model => model.ContactFrist, new { htmlAttributes = new { @class = "form-control", id = "ContactFrist", placeholder = "First Contact" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.ContactFrist, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactSecond, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                @Html.EditorFor(model => model.ContactSecond, new { htmlAttributes = new { @class = "form-control", id = "ContactSecond", placeholder = "Second Contact" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.ContactSecond, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-10">
                            @if (Model.TeacherContactId == 0)
                            {
                                <input type="submit" value="Add" style="background-color:#fab625;color:white;" class="btn pull-right" />

                            }
                            else
                            {
                                <input type="submit" value="Update" style="background-color:#fab625; color:white;" class="btn pull-right" />

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

