@model SMSDataContract.Accounts.TeacherAssignClass
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="col-md-12">
    <div class="row">
        <div class="well">

    
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="well">
                @Html.AntiForgeryToken()


                <div class="row well">
                    @Html.HiddenFor(x=>x.TeacherAssignId)
                    @if (Model.AcadmicClassId == 0)
                    {
                        <span class="HeadingStyle"> Assign Acadmic Class</span>
                    }
                    else
                    {
                        <span class="HeadingStyle">Update Acadmic Class</span>
                    }
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)
                        <div id="dvAcadmicclass" style="text-align: center; margin-top: 10px; margin-left:29%;">
                            <span id="AcadmicclassMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 control-label"><label>Acadmic Class</label> </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                    @{Html.RenderPartial("../DropDownLists/DDLClass");}
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.AcadmicClassId, "", new { @class = "text-danger" })
                        </div>
                  
                        <div id="dvTeacher" style="text-align: center; margin-top: 10px; margin-left:29%;">
                            <span id="TeacherMsg" class="error" style="display:none;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 control-label"><label>Teacher</label> </div>

                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></span>
                                 
                                    <div id="dvDDLTeacher">
                                        @{Html.RenderAction("DDLTeacher", "Teacher", new { @AcadmicClassId = 0 });}
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                       
                                        <button id="btnAddEdit" type="submit" style="background-color:#fab625;color:white;" class="btn pull-right">
                                            @if (Model.TeacherAssignId == 0)
                                            {
                                              
                                               <text> Add</text>
                                            }
                                            else
                                            {
                                               
                                                <text>Update</text>

                                            }
                                            </button>
                                        <div id="dvTeacherButton" style="text-align: center; margin-top: 10px; margin-left:29%;">
                                            <span id="validateMsg" class="error" style="display:none;"></span>
                                        </div>
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        {
            $(document).ready(function () {

                if('@Model.TeacherAssignId'>0)
                {
                    $('#AcadmicClassId option[value="@Model.AcadmicClassId"]').attr("selected", true);
                    $('#ddlTeacher option[value="@Model.TeacherId"]').attr("selected", true);
                }
                else
                {
                   
                    $('#AcadmicClassId option[value=""]').attr("selected", true);
                    $('#ddlTeacher option[value=""]').attr("selected", true);
                }

                $("#btnAddEdit").click(function (e) {
                    debugger;
                    $("#validateMsg").text("");
                    $("#validateMsg").hide();
                    $("#TeacherMsg").text("");
                    $("#TeacherMsg").hide();
                    e.preventDefault();
                    var acadmicClassId = $("#ddlAcadmicClass").val();
                    var TeacherId = $("#ddlTeacher").val();
                    if(acadmicClassId!=''&& TeacherId!='')
                    {
                        var URL = "/Teacher/IsClassAssigned";
                        model = { AcadmicClassId: acadmicClassId, TeacherId: TeacherId };
                        $.get(URL,model)
                        .done(function (response) {
                            if(response=='true')
                            {
                                $("#TeacherMsg").text("Teacher already Assigned above Selected Class");
                                $("#TeacherMsg").show();
                            }
                            else
                            {
                                $("#TeacherMsg").text("");
                                $("#TeacherMsg").hide();
                                $("form").submit();

                            }

                        })
                        .error(function (e1) {
                            alert("Can't Check Assign Class.");
                        })
                    }
                    else
                    {
                        $("#validateMsg").text("Acadmic Class OR Teacher Selection is Missing");
                        $("#validateMsg").show();
                    }

                });

            });



        }
    </script>
    }

