@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SMSDataContract.Accounts.TeacherAssignClass>

@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="row">
    <div class="col-md-9 col-sm-9">
        <a href="~/Teacher/AddChangesTeacher?Id=0" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-user"></i>Add new Teacher</a>
        <div class="row well">
            <span class="HeadingStyle">Teacher List</span>
            <table class="table table-bordered table-hover table-striped">
                <tr class="action info">
                    <th>
                        @Html.DisplayNameFor(model => model.First().ClassName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TeacherName)
                    </th>
                   

                    <th style="width:90px;"><h5>ACTION</h5></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeacherName)
                        </td>
                     

                        <td>
                            <a href="/Teacher/AddChangesTeacherAssignedClass?Id=@item.TeacherAssignId" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></a>
                          
                        </td>
                    </tr>
                }

            </table>
            <div class="col-md-10 col-md-offset-4">

                @Html.PagedListPager(Model, page => Url.Action("GetALLAssignClass", new { page }))
            </div>

        </div>
    </div>
</div>