
@using PagedList;
@using PagedList.Mvc;
@model List<SMSDataContract.Common.Teacher>

@{
    ViewBag.Title = "TeacherList";
    Layout = null;//"~/Views/Shared/_NewLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                
                <span class="HeadingStyle">Teacher List</span>
                <table class="table table-bordered table-hover table-striped">
                    <tr class="action info">
                        <th>
                            @Html.DisplayNameFor(model => model.First().TeacherName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CNIC)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().LastQualification)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().JoinDate)
                         
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().LeaveDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().RefrenceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().RefrenceContact)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Active)
                        </th>

                        
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeacherName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNIC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastQualification)
                            </td>
                            <td>
                                @Html.DisplayName(item.JoinDate.ToShortDateString())
                            </td>
                            <td>
                                @Html.DisplayName(item.LeaveDate.Value.ToShortDateString())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefrenceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefrenceContact)
                            </td>
                            <td>
                                @if(item.Active)
                                {
                                    <text>Yes</text>
                                }
                                else
                                {
                                    <text>No</text>
                                }
                            </td>

                            
                        </tr>
                }

                </table>
               

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {

            
        });

    </script>
}
