<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
   
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
    </style>
    
</head>
<body style="background-color:white;">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Panel</a>
                <a href="/Account/Register?UserLevel=0" class="navbar-brand" style="margin-left:30px;">Student Log</a>
                <a href="/Account/Register?UserLevel=1" class="navbar-brand" style="margin-left:30px;">Student Log</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                @Html.Partial("_LoginPartial")
                
            </ul>

            <!-- /.navbar-collapse -->

        </nav>
        
        <!-- /#page-wrapper -->
    </div>
    <div class="row">
        <div class="col-md-2">
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        @*<a href="@Url.Action("Index","")><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>*@ 
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="@Url.Action("GetAcadmicClass", "Common")"><i class="fa fa-fw fa-bar-chart-o"></i>AcadmicClasses</a>
                    </li>
                    <li>
                        <a href="@Url.Action("GetCity", "Common")"><i class="fa fa-fw fa-bar-chart-o"></i>Cities</a>
                    </li>
                    <li>
                        <a href="@Url.Action("StudentList", "Student")"><i class="fa fa-fw fa-bar-chart-o"></i>Students</a>
                    </li>
                    <li class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#techer"><i class="fa fa-fw fa-arrows-v"></i> Teacher <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="techer" class="collapse">
                            <li>
                                <a href="@Url.Action("TeacherList", "Teacher")"><i class="fa fa-fw fa-table"></i> Teachers</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetALLAssignClass", "Teacher")"><i class="fa fa-fw fa-table"></i> Assign Class </a>
                            </li> 
                            <li>
                                <a href="@Url.Action("GetTeacherLessonPlans", "Teacher")"><i class="fa fa-fw fa-table"></i> Teacher Lesson Plan </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Courses <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="@Url.Action("GetALLCourse","Course")"><i class="fa fa-fw fa-table"></i>Courses</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetALLTeacherAssignCourse", "Course")"><i class="fa fa-fw fa-table"></i>Teacher Assigned Course</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetALLStudentAssignCourse", "Course")"><i class="fa fa-fw fa-table"></i>Student Assigned Course</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#resource"><i class="fa fa-fw fa-arrows-v"></i> Manage Resource <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="resource" class="collapse">
                            <li>
                                <a href="@Url.Action("GetALLRoom", "Room")"><i class="fa fa-fw fa-table"></i>Rooms</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetALLRoomAssignedClass", "Room")"><i class="fa fa-fw fa-table"></i>Assign Class</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetALLAssignedPeriods", "Room")"><i class="fa fa-fw fa-table"></i>Assign Period</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#fee"><i class="fa fa-fw fa-arrows-v"></i> Manage Dues <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="fee" class="collapse">
                            <li>
                                <a href="@Url.Action("GetStudentBasicExpenditure", "StudentExpense")"><i class="fa fa-fw fa-table"></i>Basic Expense</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetRegularExpenditure", "StudentExpense")"><i class="fa fa-fw fa-table"></i>Monthly Expense</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("GetALLAssessmentCategories", "StudentReport")"><i class="fa fa-fw fa-bar-chart-o"></i>Assessments</a>
                    </li>
                    <li>
                        <a href="@Url.Action("GetALLSocailDescriptions", "StudentResult")"><i class="fa fa-fw fa-bar-chart-o"></i>Results</a>
                    </li>
                    @*<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#Assessments"><i class="fa fa-fw fa-arrows-v"></i> Assessment Reports <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="Assessments" class="collapse">
                            <li>
                                <a href="@Url.Action("GetALLAssessmentCategories", "StudentReport")"><i class="fa fa-fw fa-table"></i>Assessment Categories</a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetALLAssessment", "StudentReport")"><i class="fa fa-fw fa-table"></i>Assessment Types</a>

                            </li>
                            <li>
                                <a href="@Url.Action("GetALLSubAssessment", "StudentReport")"><i class="fa fa-fw fa-table"></i>Assessment Sub Types</a>

                            </li>
                            <li>
                                <a href="@Url.Action("GetALLStudentGeneralAssessment", "StudentReport")"><i class="fa fa-fw fa-table"></i>Student General Assessment</a>

                            </li>
                            <li>
                                <a href="@Url.Action("GetALLStudentAcadmicAssessment", "StudentReport")"><i class="fa fa-fw fa-table"></i>Student Acadmic Assessment</a>

                            </li>
                            <li>
                                <a href="@Url.Action("GetALLTeacherGeneralAssessment", "StudentReport")"><i class="fa fa-fw fa-table"></i>Teacher General Assessment</a>

                            </li>

                        </ul>


                    </li>*@
                    @*<li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="body-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->

    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>