@model SMSDataContract.Common.Course

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="col-md-12">
    <div class="row">
        <div class="well">

        
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="row well">
                <div class="form-horizontal">
                    @if (Model.CourseId == 0)
                    {
                        <span class="HeadingStyle">Add Course </span>

                    }
                    else
                    {
                        <span class="HeadingStyle">Update Course</span>
                    }
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseCode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control", id = "CourseCode", placeholder = "Course Code" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", id = "CourseName", placeholder = "Course Name" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div id="dvAcadmic" style="text-align: center; margin-top: 10px; margin-left:55%;">
                        <span id="AcadmicMsg" class="error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label"><label> Acadmic Class</label> </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @{Html.RenderPartial("../DropDownLists/DDLClass");}
                            </div>
                            @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    @if (Model.CourseId == 0)
                                    {
                                        <input type="submit" value="Add" id="AddCourse" style="background-color:#fab625;color:white;" class="btn pull-right" />

                                    }
                                    else
                                    {
                                        <input type="submit" value="Update" id="UpdateCourse" style="background-color:#fab625; color:white;" class="btn pull-right" />

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
        </div>
    </div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">

        $(document).ready(function () {
            
            if ('@Model.CourseId' > 0) {

                $('#ddlAcadmicClass option[value="@Model.ClassId"]').attr("selected", true);

            }
            else {
                $('#ddlAcadmicClass option[value=""]').attr("selected", true);
            }
            $("#AddCourse").click(function (e) {
               

                if ($('#ddlAcadmicClass').val() == '') {

                    $("#AcadmicMsg").show();
                    $("#AcadmicMsg").text("Please Select Class");
                    e.preventDefault();
                    return;
                }

            });
            $("#UpdateCourse").click(function (e) {
                
                if ($('#ddlAcadmicClass').val() == '') {
                    $("#AcadmicMsg").show();
                    $("#AcadmicMsg").text("Please Select Class");
                    e.preventDefault();
                    return;
                }
            });
            $("#ddlAcadmicClass").change(function () {
                debugger;
                var selectedClass = $('#ddlAcadmicClass').val();

                if (selectedClass != '' && selectedClass != 'undefined') {
                    $("#AcadmicMsg").hide();
                }

            });



        });
    </script>
}
