@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SMSDataContract.Common.Course>
@{

    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-7 col-md-offset-3">
            @using (Html.BeginForm("GetALLCourse", "Course", FormMethod.Get))
            {  <div class="input-group col-md-8">
                <b>Search By:</b>
                @Html.RadioButton("SearchBy", "CourseCode", true)
                <text>Course Code</text>

                <br />


                @Html.TextBox("search", null, new { @class = "form-control" })

                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            }
        </div>
        <div style="clear:left"></div>
        <div class="well">
            <div class="row">
                <div style="display:flex">
                    <a href="/Course/AddChangesCourse?Id=0" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-user"></i>Add new Course</a>

                    <span style="margin-left:20px;">
                        @using (Html.BeginForm("GetStudentAssingCourseReport", "Course", FormMethod.Post))
                        { <span style="margin-left:15px;">  <button id="btnExportFile" class="btn btn-primary" type="submit">Export </button></span>}
                    </span>
                </div>
            </div>

            <br />
            <div class="row">
                <span class="HeadingStyle">List of Course</span>
                <table class="table  table-bordered table-striped table-responsive table-hover">
                    <tr class="action info">
                        <th>
                            @Html.DisplayNameFor(model => model.First().CourseCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CourseName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.First().ClassName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CreatedDate)
                        </th>

                        <th style="width:90px;"><b>ACTION</b></th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ClassName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                <a href="/Course/AddChangesCourse?Id=@item.CourseId" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></a>
                                <a id="btnDelete" href="/Course/DeleteCourse?CourseId=@item.CourseId" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-stop"></i></a>
                            </td>

                        </tr>
                    }

                </table>
                <div class="col-md-10 col-md-offset-4">
                    @Html.PagedListPager(Model, page => Url.Action("GetALLCourse",new { page, SearchBy = Request.QueryString["SearchBy"], search = Request.QueryString["search"] }))
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnDelete").click(function () {
                debugger;
               
                if (confirm("Are You Sure you want to delete Course?"))
                    return true;
                else
                    return false;

            });
        });

    </script>
}