@model IEnumerable<SMSDataContract.Accounts.TeacherAssignedCourse>
@{

    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="row">
    <div class="col-md-8 col-sm-8">
        <a href="~/Course/AddChangesTeacherAssignCourse?Id=0" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-user"></i>Assign New Course</a>
        <span class="HeadingStyle">Teacher Assign Course</span>
        <table class="table  table-bordered table-striped table-responsive table-hover">
            <tr class="action info">
               
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>

                    <td>
                        <a href="/Course/AddChangesTeacherAssignCourse?Id=@item.TeacherAssignedCourseId" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
