
@using PagedList;
@using PagedList.Mvc;
@model List<SMSDataContract.Accounts.TeacherAssignedCourse>

@{
    ViewBag.Title = "TeacherList";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                
                <span class="HeadingStyle">Teacher Assign Course List</span>
                <table class="table table-bordered table-hover table-striped">
                    <tr class="action info">
                        <th style="width: 200px;">
                            @Html.DisplayNameFor(model => model.First().TeacherName)
                        </th>
                        <th style="width: 200px;">
                            @Html.DisplayNameFor(model => model.First().CourseName)
                        </th>
                        <th style="width:200px;">
                            @Html.DisplayNameFor(model => model.First().ClassName)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td style="width:300px; margin-left:50px;">
                                @Html.DisplayFor(modelItem => item.TeacherName)
                            </td>
                            <td style="width:300px;">
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td style="width:300px;">
                                @Html.DisplayFor(modelItem => item.ClassName)
                            </td>
                            
                            
                        </tr>
                }

                </table>
               

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {

            
        });

    </script>
}
